<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="stylesheet" href="styles/cart.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
   {{>header}}



    <!-- this is the main content area of this code  -->


    <div class="cart-work-area">
        <div class="cart-item-sec">
            <div class="page-name">
                <h1>Shopping Cart</h1>

                <a href="#"> Deselect all items </a>
                <p>Price</p>

            </div>
            <hr style="display: block; width: 95%;height: 1px;color: grey; margin: auto;">
            <div class="cart-items">
                <input type="checkbox" name="item-select" id="item-select" checked>
                <img src="Images/cart-Items/cart-item1.jpg" alt="@">
                <div class="cart-item-description">
                    <p>Zodo 8. 5 inch LCD E-Writer Electronic Writing Pad/Tablet Drawing Board (Paperless Memo Digital
                        Tablet)</p>
                    <div class="stock-disp ">In stock</div>
                    <div class="shipping-info">Eligible for free shipping</div>
                    <div class="gift-option">
                        <input type="checkbox">
                        This will be a gift
                        <a href="#"> Learn more </a>
                    </div>

                    <div class="cart-item-btns">

                        <div class="select-quantity    buttons-border">

                            <span>Qty:</span>

                            <select name="product-quantity" id="quantity">

                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>



                        <input type="button" class="buttons-border" value="Delete">
                        <input type="button" class="buttons-border" value="Save for later">
                        <input type="button" class="buttons-border" value="See more like this ">
                        <input type="button" class="buttons-border" value="Share">

                    </div>


                </div>

                <span class="item-price">&#8377 159.00</span>
            </div>

            <hr style="display: block; width: 95%;height: 1px;color: grey; margin: auto;">
            <div class="cart-items">
                <input type="checkbox" name="item-select" id="item-select" checked>
                <img src="Images/cart-Items/cart-item2.jpg" alt="@">
                <div class="cart-item-description">
                    <p>Zodo 8. 5 inch LCD E-Writer Electronic Writing Pad/Tablet Drawing Board (Paperless Memo Digital
                        Tablet)</p>
                    <div class="stock-disp ">In stock</div>
                    <div class="shipping-info">Eligible for free shipping</div>
                    <div class="gift-option">
                        <input type="checkbox">
                        This will be a gift
                        <a href="#"> Learn more </a>
                    </div>

                    <div class="cart-item-btns">

                        <div class="select-quantity    buttons-border">

                            <span>Qty:</span>

                            <select name="product-quantity" id="quantity">

                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>



                        <input type="button" class="buttons-border" value="Delete">
                        <input type="button" class="buttons-border" value="Save for later">
                        <input type="button" class="buttons-border" value="See more like this ">
                        <input type="button" class="buttons-border" value="Share">

                    </div>


                </div>

                <span class="item-price">&#8377 159.00</span>
            </div>

            <hr style="display: block; width: 95%;height: 1px;color: grey; margin: auto;">
            <div class="cart-items">
                <input type="checkbox" name="item-select" id="item-select" checked>
                <img src="Images/cart-Items/cart-item3.jpg" alt="@">
                <div class="cart-item-description">
                    <p>Zodo 8. 5 inch LCD E-Writer Electronic Writing Pad/Tablet Drawing Board (Paperless Memo Digital
                        Tablet)</p>
                    <div class="stock-disp ">In stock</div>
                    <div class="shipping-info">Eligible for free shipping</div>
                    <div class="gift-option">
                        <input type="checkbox">
                        This will be a gift
                        <a href="#"> Learn more </a>
                    </div>

                    <div class="cart-item-btns">

                        <div class="select-quantity    buttons-border">

                            <span>Qty:</span>

                            <select name="product-quantity" id="quantity">

                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>



                        <input type="button" class="buttons-border" value="Delete">
                        <input type="button" class="buttons-border" value="Save for later">
                        <input type="button" class="buttons-border" value="See more like this ">
                        <input type="button" class="buttons-border" value="Share">

                    </div>


                </div>

                <span class="item-price">&#8377 159.00</span>
            </div>

            <hr style="display: block; width: 95%;height: 1px;color: grey; margin: auto;">
            <div class="cart-items">
                <input type="checkbox" name="item-select" id="item-select" checked>
                <img src="Images/cart-Items/cart-item4.jpg" alt="@">
                <div class="cart-item-description">
                    <p>Zodo 8. 5 inch LCD E-Writer Electronic Writing Pad/Tablet Drawing Board (Paperless Memo Digital
                        Tablet)</p>
                    <div class="stock-disp ">In stock</div>
                    <div class="shipping-info">Eligible for free shipping</div>
                    <div class="gift-option">
                        <input type="checkbox">
                        This will be a gift
                        <a href="#"> Learn more </a>
                    </div>

                    <div class="cart-item-btns">

                        <div class="select-quantity    buttons-border">

                            <span>Qty:</span>

                            <select name="product-quantity" id="quantity">

                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>



                        <input type="button" class="buttons-border" value="Delete">
                        <input type="button" class="buttons-border" value="Save for later">
                        <input type="button" class="buttons-border" value="See more like this ">
                        <input type="button" class="buttons-border" value="Share">

                    </div>


                </div>

                <span class="item-price">&#8377 159.00</span>
            </div>

            <hr style="display: block; width: 95%;height: 1px;color: grey; margin: auto;">
            <div class="cart-items">
                <input type="checkbox" name="item-select" id="item-select" checked>
                <img src="Images/cart-Items/cart-item5.jpg" alt="@">
                <div class="cart-item-description">
                    <p>Zodo 8. 5 inch LCD E-Writer Electronic Writing Pad/Tablet Drawing Board (Paperless Memo Digital
                        Tablet)</p>
                    <div class="stock-disp ">In stock</div>
                    <div class="shipping-info">Eligible for free shipping</div>
                    <div class="gift-option">
                        <input type="checkbox">
                        This will be a gift
                        <a href="#"> Learn more </a>
                    </div>

                    <div class="cart-item-btns">

                        <div class="select-quantity    buttons-border">

                            <span>Qty:</span>

                            <select name="product-quantity" id="quantity">

                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>



                        <input type="button" class="buttons-border" value="Delete">
                        <input type="button" class="buttons-border" value="Save for later">
                        <input type="button" class="buttons-border" value="See more like this ">
                        <input type="button" class="buttons-border" value="Share">

                    </div>


                </div>

                <span class="item-price">&#8377 159.00</span>
            </div>

            <hr style="display: block; width: 95%;height: 1px;color: grey; margin: auto;">
            <div class="cart-items">
                <input type="checkbox" name="item-select" id="item-select" checked>
                <img src="Images/cart-Items/cart-item6.jpg" alt="@">
                <div class="cart-item-description">
                    <p>Zodo 8. 5 inch LCD E-Writer Electronic Writing Pad/Tablet Drawing Board (Paperless Memo Digital
                        Tablet)</p>
                    <div class="stock-disp ">In stock</div>
                    <div class="shipping-info">Eligible for free shipping</div>
                    <div class="gift-option">
                        <input type="checkbox">
                        This will be a gift
                        <a href="#"> Learn more </a>
                    </div>

                    <div class="cart-item-btns">

                        <div class="select-quantity    buttons-border">

                            <span>Qty:</span>

                            <select name="product-quantity" id="quantity">

                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>



                        <input type="button" class="buttons-border" value="Delete">
                        <input type="button" class="buttons-border" value="Save for later">
                        <input type="button" class="buttons-border" value="See more like this ">
                        <input type="button" class="buttons-border" value="Share">

                    </div>


                </div>

                <span class="item-price">&#8377 159.00</span>
            </div>

            <hr style="display: block; width: 95%;height: 1px;color: grey; margin: auto;">
            <div class="cart-items">
                <input type="checkbox" name="item-select" id="item-select" checked>
                <img src="Images/cart-Items/cart-item7.jpg" alt="@">
                <div class="cart-item-description">
                    <p>Zodo 8. 5 inch LCD E-Writer Electronic Writing Pad/Tablet Drawing Board (Paperless Memo Digital
                        Tablet)</p>
                    <div class="stock-disp ">In stock</div>
                    <div class="shipping-info">Eligible for free shipping</div>
                    <div class="gift-option">
                        <input type="checkbox">
                        This will be a gift
                        <a href="#"> Learn more </a>
                    </div>

                    <div class="cart-item-btns">

                        <div class="select-quantity    buttons-border">

                            <span>Qty:</span>

                            <select name="product-quantity" id="quantity">

                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>



                        <input type="button" class="buttons-border" value="Delete">
                        <input type="button" class="buttons-border" value="Save for later">
                        <input type="button" class="buttons-border" value="See more like this ">
                        <input type="button" class="buttons-border" value="Share">

                    </div>


                </div>

                <span class="item-price">&#8377 159.00</span>
            </div>

            <hr style="display: block; width: 95%;height: 1px;color: grey; margin: auto;">
            <div class="cart-items">
                <input type="checkbox" name="item-select" id="item-select" checked>
                <img src="Images/cart-Items/cart-item8.jpg" alt="@">
                <div class="cart-item-description">
                    <p>Zodo 8. 5 inch LCD E-Writer Electronic Writing Pad/Tablet Drawing Board (Paperless Memo Digital
                        Tablet)</p>
                    <div class="stock-disp ">In stock</div>
                    <div class="shipping-info">Eligible for free shipping</div>
                    <div class="gift-option">
                        <input type="checkbox">
                        This will be a gift
                        <a href="#"> Learn more </a>
                    </div>

                    <div class="cart-item-btns">

                        <div class="select-quantity    buttons-border">

                            <span>Qty:</span>

                            <select name="product-quantity" id="quantity">

                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>



                        <input type="button" class="buttons-border" value="Delete">
                        <input type="button" class="buttons-border" value="Save for later">
                        <input type="button" class="buttons-border" value="See more like this ">
                        <input type="button" class="buttons-border" value="Share">

                    </div>



                </div>

                <span class="item-price">&#8377 159.00</span>
            </div>



        </div>
        <div class="proceed-to-order">
            <div class="qualify-msg">
                <i class="fa-solid fa-circle-check" style="color: #17950e;"></i>
                <p class="free-delivery-qualify">
                    Part of your order qualifies for FREE Delivery.
                    Select this option at checkout.
                </p>
            </div>
            <span class="learn-more">Details</span>

            <p id="cart-subtotal">Subtotal (9 items): &#8377 5,591.00</p>
            <div class="gift-voucher">
                <input type="checkbox" id="add-gift-voucher">
                <label for="add-gift-voucher">This order contains a gift.</label>
            </div>


            <button id="pay-for-order" class="proceed-buy">Proceed to Buy</button>


            <select name="Emi" id="EMI" class="EMI">
                <option disabled selected> EMI available
                </option>
                <option disabled>Your order qualifies for EMI with valid credit cards (not available on purchase of
                    Gold, Jewelry, Gift cards and Amazon pay balance top up). Learn more</option>
            </select>

        </div>




        <!-- related Products items -->


        <div class="cart-related-products">
            <div class="related-items">
                <h5>Products related to items in your cart</h5>
                <p class="sponsor-check">Sponsored
                    <i class="fa-solid fa-circle-info" style="color: #94c549;"></i>
                </p>

                <div class="similar-item">
                    <img class="related-item-image" src="Images/related-items/related-item1.jpg" alt="IMage">

                    <div class="related-image-description">
                        <p class="related-item-name">Wow Life Science O...</p>
                        <img class="rating-image" src="Images/ratings/rating-50.png" alt="image">
                        <p class="rating-count">53,452</p>
                        <p class="related-item-price">
                            &#8377 753.00
                        </p>
                        <button class="buying-options">See all buying options</button>
                    </div>
                </div>

                <div class="similar-item">
                    <img class="related-item-image" src="Images/related-items/related-item2.jpg" alt="IMage">

                    <div class="related-image-description">
                        <p class="related-item-name">Wow Life Science O...</p>
                        <img class="rating-image" src="Images/ratings/rating-45.png" alt="image">
                        <p class="rating-count">53,452</p>
                        <p class="related-item-price">
                            &#8377 753.00
                        </p>
                        <button class="buying-options">See all buying options</button>
                    </div>
                </div>

                <div class="similar-item">
                    <img class="related-item-image" src="Images/related-items/related-item3.jpg" alt="IMage">

                    <div class="related-image-description">
                        <p class="related-item-name">Wow Life Science O...</p>
                        <img class="rating-image" src="Images/ratings/rating-35.png" alt="image">
                        <p class="rating-count">53,452</p>
                        <p class="related-item-price">
                            &#8377 753.00
                        <p>
                            <button class="buying-options">See all buying options</button>
                    </div>
                </div>

                <div class="similar-item">
                    <img class="related-item-image" src="Images/related-items/related-item4.jpg" alt="IMage">

                    <div class="related-image-description">
                        <p class="related-item-name"> Wow Life Science O... </p>
                         <img class="rating-image" src="Images/ratings/rating-25.png" alt="image">
                        <p class="rating-count">53,452</p>
                        <p class="related-item-price">
                            &#8377 753.00
                        </p>
                        <button class="buying-options">See all buying options</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


{{>footer}}





</body>

</html>