<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/sign-up.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="work-space">
       <div class="logo"> 
            <a class="icon" tabindex="-1" href="index.html">
                <i class="a-icon a-icon-logo" role="img" aria-label="Amazon"></i>
                <i class="a-icon a-icon-domain-in a-icon-domain" role="presentation"></i>
            </a>
        </div>
        <div class="main-space">
            <div class="content">
                <div class="sign-up-details">
                    <div class="details">
                        <h1>Create Account</h1>
                        <form action="/sign-up" method="post">
                        <div class="section">
                             <label class="labels">Your name</label>
                            <input type="text" placeholder="First and last name" class="name-input" tabindex="1" required name="name">
                        </div>
                        <div class="section">
                            <label class="labels">Mobile number</label>
                            <input type="text" id="mobileNumber" class="mobile-input" placeholder="" required name="mobile">
                        </div>
                        <div class="section">
                            <label class="labels">Password</label>
                            <input type="password" placeholder="At least 6 characters" class="password-input" tabindex="1" required name="password">
                        </div>
                        <div class="section">
                            <label class="labels">Re-enter password</label>
                            <input type="password" placeholder="" class="password-input cpassword" tabindex="1" required name="confirmpassword">
                        </div>
                        <input type="submit" value="Continue" class="submit" disabled>
                        </form>
                        <div class="tnc">By creating an account, you agree to Amazon's 
                        <a href="">Conditions of Use</a> and <a href="">Privacy Notice</a>.</div>
                    </div>
                    <div class="below-section">
                            <span class="sign-in">Already have an account? <a href="./sign-in.html" class="sign-a"> Sign in <i class="fa-solid fa-caret-right arrow"></i></a></span>
                            <span class="sign-in">Buying for work? <a href="/" class="sign-a"> Create a free buisness account <i class="fa-solid fa-caret-right arrow"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./scripts/sign-up.js"></script>
</body>
</html>