 <header>
        <div id="navbar1" class="navbar1">
            <div class="nav-logo border">
                <a href="/">
                    <img src="Images/Amazon-logo.png" alt="Amazon" class="logo" />
                </a>


                <p class="nav-in">.in</p>
            </div>
            <div class="nav-add border">
                <div class="nav-address">
                    <p class="add-1">Hello</p>
                    <div class="address-icon">
                        <i class="fa-solid fa-location-dot" style="color: #f1f2f3"></i>
                        <p class="add-2">Select your address</p>
                    </div>
                </div>
            </div>

            <div class="nav-search">
                <select name="Category" id="prod_Category" class="search-select dropdown title=" category" ">
                    <option value=" All">All</option>
                    <option value="Prime">Prime video</option>
                    <option value="Device">Alexa</option>
                    <option value="electric">Electronics</option>
                    <option value="cloth">Clothes</option>
                    <option value="health">Diet</option>
                </select>

                <input type="text" id="search_bar" class="nav-search-bar" placeholder="Search Amazon.in" />

                <div class="nav-search-logo">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div class="nav-language border">
                <div class="country-logo">
                    <img src="Images/Flag_of_India.png" alt="[]" height="14px" width="20px" />
                </div>
                <div>
                    <select name="language" id="lang" class="select-lang dropdown">
                        <option value="EN">EN -English</option>
                        <option value="HI">HI -हिन्दी</option>
                        <option value="TA">TA -தமிழ்</option>
                        <option value="TE">TE -తెలుగు</option>
                        <option value="KN">KN -ಕನ್ನಡ</option>
                        <option value="ML">ML -മലയാളം</option>
                        <option value="BN">BN -বাংলা</option>
                    </select>
                </div>
            </div>
            <div class="nav-account border">
                <a href="/sign-in" >
                    <div>
                    <p class="acc-line1">Hello, sign in</p>
                    <p class="acc-line2">Account & Lists</p>
                    </div>    
                </a>
            </div>
            <div class="border nav-return">
                <div>
                    <a href="/orders">
                        <p class="return-line1">Returns</p>
                        <p class="return-line2">& Orders</p>
                    </a>
                </div>
            </div>

            <div class="nav-cart border">
                <div class="cart-logo">
                    <!--  -->
                    <a href="/cart"> <img src="Images/cart-icon.png" alt="\_/" /></a>
                </div>
                <div class="cart-quantity">0</div>
                <p class="cart-name">Cart</p>
            </div>
        </div>

        <div id="navbar2" class="navbar2">
            <div class="nav2-menu nav2-border">
                <i class="fa-solid fa-bars"></i>
                <p>All</p>
            </div>
            <div class="nav2-panel">
                <a class="nav2-border" href="#">Amazon miniTV</a>
                <a class="nav2-border" href="#">Sell</a>
                <a class="nav2-border" href="#">Best Sellers</a>
                <a class="nav2-border" href="#">Mobiles</a>
                <a class="nav2-border" href="#">Today's Deals</a>
                <a class="nav2-border" href="#">Customer Service</a>
                <a class="nav2-border" href="#">New Releases</a>
                <a class="nav2-border" href="#">Electronics</a>
                <a class="nav2-border" href="#">Prime</a>
                <a class="nav2-border" href="#">Home&Kitchen</a>
                <a class="nav2-border" href="#">Amazon Pay</a>
            </div>
            <div class="app-link nav2-border">
                <a href="#">Shopping Made easy | Download the app</a>
            </div>
        </div>
    </header>